{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_learnwise/lticonfigrow

    Renders a single LTI configuration row for the Learnwise plugin.
    Shows the tool name, assistant ID and action buttons (view, edit, delete).
    Expands to display detailed readonly fields and includes the lti setup partial.

    Example context (json):
    {
        "id": "61",
        "name": "L1",
        "assistantid": "As1",
        "data": [
            {
                "index": "tooldetailsplatformid-61",
                "header": "Platform ID",
                "value": "http:\/\/php72moodle\/learnwise"
            },
            {
                "index": "tooldetailsclientid-61",
                "header": "Client ID",
                "value": "DZzRJ0SDJOEEAlG"
            },
            {
                "index": "tooldetailsdeploymentid-61",
                "header": "Deployment ID",
                "value": "61"
            },
            {
                "index": "tooldetailspublickeyseturl-61",
                "header": "Public keyset URL",
                "value": "http:\/\/php72moodle\/learnwise\/mod\/lti\/certs.php"
            },
            {
                "index": "tooldetailsaccesstokenurl-61",
                "header": "Access token URL",
                "value": "http:\/\/php72moodle\/learnwise\/mod\/lti\/token.php"
            },
            {
                "index": "tooldetailsauthrequesturl-61",
                "header": "Authentication request URL",
                "value": "http:\/\/php72moodle\/learnwise\/mod\/lti\/auth.php"
            }
        ],
        "standalone": true
    }
}}
{{#standalone}}
<table class="table table-striped" data-region="ltilist">
    <thead>
        <tr>
            <th>{{#str}}name{{/str}}</th>
            <th>{{#str}}assistantid, local_learnwise{{/str}}</th>
            <th>{{#str}}action{{/str}}</th>
        </tr>
    </thead>
    <tbody id="lticonfigtable-data">
{{/standalone}}
<tr class="ltitoggle-row" data-rowindex="{{id}}">
    <td>{{{name}}}</td>
    <td>{{{assistantid}}}</td>
    <td>
        <div class="d-flex">
            <div class="viewlticonfig clickable" data-action="viewlti" data-index="{{id}}">{{#pix}} i/info, core,{{#str}}showdetails,local_learnwise{{/str}} {{/pix}}</div>
            <div class="edilticonfig clickable" data-action="updatelti" id="update-lticonfig-button" data-formclass="local_learnwise\form\updatelti" data-id="{{id}}">{{#pix}}t/edit, core, {{#str}}edit{{/str}}{{/pix}}</div>
            <div class="deletelticonfig clickable" id="delete-lticonfig-button" data-action="deletelti" data-id="{{id}}">{{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}</div>
        </div>
    </td>
</tr>

<tr class="detail-row" id="detail-{{id}}" style="display:none;">
    <td colspan="3">
        <div class="field-row">
            <div class="field-label">
                <label for="ltiname" class="label">{{#str}}name{{/str}}</label>
            </div>
            <div class="field-input">
                <input type="text" id="ltiname" name="ltiname" class="input readonly" placeholder="Enter Name" value="{{{ name }}}" readonly>
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label for="ltiassistantid" class="label">{{#str}}assistantid, local_learnwise{{/str}}</label>
            </div>
            <div class="field-input">
                <input type="text" id="ltiassistantid" name="ltiassistantid" class="input readonly" placeholder="Enter Assistant ID" value="{{ assistantid }}" readonly>
            </div>
        </div>
        {{> local_learnwise/ltisetup }}
    </td>
</tr>
{{#standalone}}
    </tbody>
</table>
{{/standalone}}